@model GighubApp.ViewModels.GigsViewModel
@{
    ViewBag.Title = "Home Page";
}

<p class="alert alert-info">@Model.Heading</p>
<ul class="gigs voffset3">
    @foreach (var gig in Model.UpcomingGig)
    {
        <li>
            <div class="date">
                <div class="month">
                    @gig.GigDate.ToString("MMM")
                </div>
                <div class="day">
                    @gig.GigDate.ToString("dd")
                </div>
            </div>
            <div class="details">
                <div class="artist">
                    <span>
                        @gig.Artist.Name
                        
                        @if (gig.IsCanceled)
                        {
                            <span class="label label-warning">Canceled</span>
                        }

                        @if (Model.ShowActions)
                        {
                            <button data-user-id="@gig.ArtistId" class="btn btn-sm btn-link pull-right js-toggle-follow">Follow</button>
                        }
                    </span>
                </div>
                <div class="genre">
                    <span>
                        @gig.Genre.GenreName
                    </span>
                    @if (Model.ShowActions && !gig.IsCanceled)
                    {
                        <button data-gig-id="@gig.GigId" class="btn btn-sm btn-default pull-right js-toggle-attendance">Going ?</button>
                    }

                </div>
            </div>
        </li>
    }
</ul>
@section scripts{
    <script>
        $(document).ready(function () {
            $(".js-toggle-attendance").click(function (e) {
                var button = $(e.target);
                $.post("/api/attendances", { gigId: button.attr("data-gig-id") })
                    .done(function () {
                        button
                            .removeClass("btn-default")
                            .addClass("btn-info")
                            .text("Going");
                    })
                    .fail(function () {
                        alert("Error!");
                    });
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $(".js-toggle-follow").click(function (e) {
                var button = $(e.target);
                $.post("/api/following", { followeeId: button.attr("data-user-id") })
                    .done(function () {
                        button.text("Following");
                    })
                    .fail(function () {
                        alert("Error!");
                    });
            });
        });
    </script>

}
